* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
  background-color: black;
}
h2 {
  text-align: center;
  background: black;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}
h3 {
  color: white;
  text-transform: uppercase;
}
input {
  font-size: 1.2rem;
  width: 100%;
  color: gray;
  outline: none;
  margin-bottom: 3rem;
  padding: 0.5rem 0.5rem;
}
.card-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  color: black;
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: white;

  width: 100%;
}

@media (min-width: 670px) {
  .card {
    width: 45%;
  }
}
@media (min-width: 1110px) {
  .card {
    width: 30%;
  }
}

@media (min-width: 1450px) {
  .card {
    width: 22%;
  }
}

.card p {
  /* padding: 5px; */
  text-align: center;
}
.card img {
  max-height: 170px;
  width: 100%;
  height: 99%;
}
